h1 {
  padding-top: 30px;
  margin-left: 10px;
  font-size: 50px;
  color: purple;
}

h2 {
  text-align: center;

  padding: 40px 0 10px;
}
p {
  text-align: center;

  font-size: 30px;
  padding-bottom: 40px;
  color: #113f67;
}
.container {
  max-width: 900px;
  font-family: "Concert One", sans-serif;
  font-family: "Prompt", sans-serif;
  border: solid gray;
}
.row {
  font-size: 24px;
  color: #113f67;
}
.row .tempperture {
  font-size: 13px;
  color: black;
  margin-bottom: 10px;
}
